$font-size-root: 15px;

@import "~bootstrap/scss/bootstrap.scss";

body {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container {
  max-width: 960px;
}

.clear::after {
  content: "";
  display: table;
  clear: both;
}

.table th {
  border-top: none;
}